arxiv
langchain
langchain-groq
faiss-cpu
tiktoken
langchain-anthropic
langchain-community
langchain-google-genai
langchain-openai
langchain-ollama
langgraph-supervisor
langchain-tavily
langchain-xai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
pageindex
openpyxl
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
langfuse
ipykernel
