langchain
langfuse
langchain-groq
faiss-cpu
tiktoken
langchain-ollama
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
ipykernel
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
