arxiv
ipykernel
langchain
langfuse
langgraph
langchain-core
langchain-community
langgraph-cli[inmem]
langchain-ollama
langchain-openai
langchain-tavily
langchain-groq
python-dotenv
wikipedia
faiss-cpu
